html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    @extend %rubik-400;
    color: $defalut;
    font-size: 14px;
    line-height: 1.3;
}

.container{
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.main{
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: $defalut;
    cursor: pointer;
}