html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    @extend %rubik-400;
    color: $defalut;
    font-size: 14px;
    line-height: 1.3;
}

a{
    text-decoration: none;
    color: $defalut;
    cursor: pointer;
}

.container{
    max-width: 1221px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-bg{
    max-width: 1620px;
}

.main{
    flex-grow: 1;
}

.title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    margin-bottom: 40px;
    text-align: center;
}

@function max($numbers...) {
    @return m#{a}x(#{numbers});
  }
  @function min($numbers...) {
    @return m#{i}n(#{numbers});
  }
  