$accent: #fcd7b6;
$defalut: #7b7b7b;
$title: #191919;
$subtile: #414141;
$text: #436372;
$bg: #fef7f0;
$bg-btn: #a3bbc8;


%dmsans-700{
    font-family: 'DMSans-bold', sans-serif;
    font-weight: 700;
}

%dmsans-500{
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

