@import 'vars';
@import 'global';
@import 'reset';
@import 'libs';
@import 'fonts';


.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0;
    }

    &__logo {
        position: relative;
    }

    &__logo::before {
        content: 'Glee.';
        @extend %rubik-500;
        color: $text;
        font-size: 36px;
        line-height: 58px;
        position: absolute;
        left: 65px;
        top: -9px;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__item {
        margin-right: 45px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item-link {
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: $text;
    }
}

.user-nav {
    display: flex;

    &__link {
        margin-right: 75px;
    }

    &__link:last-child {
        margin-right: 0;
    }

    &__link:nth-child(1) {
        margin-right: 30px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &___wishlist {
        margin: 0 30px 0 0;
        display: flex;
        background-color: $accent;
        border-radius: 56px;
        padding: 15px 30px;
    }

    &__link--hearts {
        padding-left: 30px;
        border-left: 1px solid #fff;
    }

    &__link--search {
        background-color: #edf1f4;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    &__link--btn {
        background-color: $bg-btn;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
    }

    &__num {
        position: absolute;
        width: 15px;
        height: 15px;
        top: -7px;
        right: -10px;
        font-size: 10px;
        color: black;
        text-align: center;
        line-height: 1.5;
        background-color: #fff;
        border-radius: 50%;
    }
}

.footer-top {
    padding: 70px 0;
    border-bottom: 1px solid $defalut;
    display: flex;

    &__logo {
        position: relative;
        display: block;
        margin-bottom: 30px;
    }

    &__logo::before {
        content: 'Glee.';
        @extend %rubik-500;
        color: $text;
        font-size: 36px;
        line-height: 58px;
        position: absolute;
        left: 65px;
        top: -9px;
    }

    &__contact {
        max-width: 206px;
        margin-right: 100px;
    }

    &__adress,
    &__phone,
    &__email,
    &__link {
        line-height: 1.7;
        margin-bottom: 20px;
    }

    &__service,
    &__account {
        min-width: 120px;
        margin-right: 195px;
    }

    &__title {
        display: block;
        color: #1f2044;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        margin: 25px 0;
        @extend %dmsans-700;
    }

    &__item-form {
        max-width: 270px;
    }

    &__text {
        display: block;
        margin-bottom: 35px;
    }

    &__input {
        border: none;
        background-color: $bg;
        max-width: 170px;
        width: 100%;
        padding: 15px 15px;
        margin-right: -4px;

        &::placeholder {
            color: #234969;
        }
    }

    &__btn {
        border: none;
        background-color: $bg-btn;
        color: #fff;
        padding: 15px 15px;
        cursor: pointer;
    }
}

.footer-bottom {
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__nav {
        display: flex;
    }

    &__nav-link {
        margin-right: 25px;
        padding-right: 15px;
        border-right: 1px solid $defalut;

        &:last-child {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
        }
    }
}

.slider-top {
    &__inner {
        background-color: $accent;
    }

    &__item {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-position-x: 95%;
        background-position-y: 95%;
        background-repeat: no-repeat;
    }

    &__content {
        max-width: 420px;
        margin-right: 100px;
        color: #436372;
        padding-top: 200px;
        margin-bottom: 215px;
    }

    &__title {
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        margin-bottom: 25px;
        color: #243f4d;
    }

    &__discr {
        display: block;
        margin-bottom: 35px;
        max-width: 300px;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 35px;

    li {
        line-height: 1;
        margin-right: 12px;

        button {
            padding: 0;
            font-size: 10px;
            line-height: 11px;
            color: #7a878d;
            width: 25px;
            height: 25px;
            border-color: transparent;
            border-radius: 50%;
            background-color: #fde3cc;
        }
    }

    .slick-active {
        button {
            color: #243f4d;
            background-color: #fff;
        }
    }
}


.info {
    &__items {
        background-color: #fef7f0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 45px 145px;
    }

    &__item {
        max-width: 177px;
        position: relative;

        &::before {
            content: '';
            width: 55px;
            height: 55px;
            position: absolute;
            left: -68px;
            top: 10px;
        }

        &--support::before {
            background-image: url(../images/icons/support.svg);
            background-repeat: no-repeat;
        }

        &--delivery::before {
            background-image: url(../images/icons/delivery.svg);
            background-repeat: no-repeat;
        }

        &--secure::before {
            background-image: url(../images/icons/secure.svg);
            background-repeat: no-repeat;
        }
    }

    &__title {
        color: $title;
        font-size: 16px;
        line-height: 1.8;
    }
}

.product {
    padding: 100px 145px;

    &__filter {
        margin-bottom: 117px;
        text-align: center;

        &-btn {
            background-color: transparent;
            border: none;
            @extend %dmsans-700;
            color: #8b8b8b;
            font-size: 16px;
            margin-right: 25px;
            padding: 0;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $title;
                cursor: pointer;
            }
        }
    }

    &__contents {
        height: 800px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px 35px;
    }
}

.mixitup-control-active {
    color: $title;
}

.product-content {
    max-width: 270px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;

    &__box {
        margin-bottom: 50px;

        &-img {
            max-width: 223px;
            height: 150px;
        }
    }

    &__info {
        text-align: center;
    }

    &__name {
        color: #243f4d;
        margin-bottom: 12px;
        font-size: 16px;
    }

    &__price {
        color: $bg-btn;
        font-size: 16px;
    }

    &__link {
        position: absolute;
        display: flex;
        bottom: 40%;
        transition: all 1s;
        opacity: 0;
    }

    &__hover {
        display: block;
        text-align: center;
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 50%;
        padding: 13px 5px;
        margin-right: 10px;
        transition: all 0.3s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $bg-btn;

            path {
                fill: #fff;
            }
        }
    }

    &:hover {
        .product-content__link {
            opacity: 1;
        }
    }
}

.preview {
    padding-bottom: 100px;
    padding-top: 90px;

    &__items {
        display: flex;
        justify-content: center;
    }
}

.preview-item {
    max-width: 870px;
    width: 100%;
    background-color: #feefe2;
    margin-right: 30px;
    height: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 370px;
    color: $info;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 250px;
        height: 400px;
        top: -100px;
        left: 120px;
        background-repeat: no-repeat;
    }

    &-img1::before {
        background-image: url(../images/content/product/prew1.png);
    }

    &-img2::before {
        background-image: url(../images/content/product/prew2.png);
    }

    &:last-child {
        margin-right: 0;
    }

    &__name {
        @extend %dmsans-700;
        color: $info;
        font-size: 26px;
        line-height: 1.2;
        max-width: 250px;
        margin-bottom: 20px;
    }

    &__dicript {
        max-width: 330px;
        margin-bottom: 25px;
        font-size: 16px;
        @extend %rubik-400;
    }

    &__link {
        display: inline-block;
        background-color: transparent;
        padding: 20px;
        color: $info;
        position: relative;
        border: 1px solid $defalut;
        border-radius: 5px;
        max-width: 180px;
        padding-right: 30px;
        @extend %rubik-500;

        &-span {
            margin-right: 30px;
        }
    }
}

.new {
    padding: 100px 145px;

    &__filter {
        margin-bottom: 117px;
        text-align: center;

        &-btn {
            background-color: transparent;
            border: none;
            @extend %dmsans-700;
            color: #8b8b8b;
            font-size: 16px;
            margin-right: 25px;
            padding: 0;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $title;
                cursor: pointer;
            }
        }
    }

    &__contents {
        height: 520px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 35px;
    }
}

.mixitup-control-active {
    color: $title;
}

.new-item {
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 35px;
    max-width: 370px;

    &__info {
        max-width: 175px;
    }

    &__name {
        @extend %dmsans-700;
        font-size: 20px;
        color: $title;
        margin-bottom: 15px;
    }

    &__dicr {
        color: $bg-btn;
        font-size: 16px;
    }
}

.video {
    padding-bottom: 115px;

    &__link {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 127px;
            height: 127px;
            right: 50%;
            transform: translateY(-50%);
            top: 50%;
            background-image: url('../images/video-play.svg');
        }
    }
}

.blog {
    background: linear-gradient(transparent 68.5%, $bg 40%);

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__add {
        @extend %dmsans-700;
        color: $title;
        position: relative;
        top: 22px;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../images/icons/arrows-blog.svg');
            width: 7px;
            height: 11px;
            top: 4px;
            right: -18px;
            background-repeat: no-repeat;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;

    }

    &__item {
        max-width: 370px;
        max-height: 420px;
    }

    &__item-box {
        position: relative;

        &::before {
            content: 'news';
            @extend %dmsans-700;
            font-size: 14px;
            line-height: 2;
            text-transform: uppercase;
            position: absolute;
            text-align: center;
            color: #fff;
            border-radius: 20px;
            background-color: $bg-btn;
            width: 100px;
            height: 30px;
            top: 94%;
            left: 10%;
            z-index: 99;
        }
    }

    &__content {
        padding: 25px;
        background-color: #fff;
    }

    &__text {
        @extend %dmsans-500;
        color: $title;
        font-size: 18px;
        height: 75px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;

    }

    &__info {
        display: flex;
        text-transform: uppercase;
        font-size: 12px;

        &-data {
            margin-right: 42px;
            color: $title;
        }

        &-autor {
            color: $title;
        }
    }
}

.partners {
    background-color: $bg;
    padding-bottom: 90px;
    padding-top: 90px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.top {
    background-color: #edf1f4;
    padding: 30px 0;
    text-align: center;

    &__title {
        @extend %rubik-300;
        font-size: 36px;
        color: #222933;
        margin-bottom: 5px;
    }
}

.modal {
    padding-top: 100px;
    max-width: 480px;
    margin: 0 auto 115px;

    &__label {
        display: block;
        color: $text;
        margin-bottom: 26px;
    }

    &__input {
        display: block;
        width: 100%;
        height: 55px;
        border: 1px solid #f6f6f6;
        padding: 0 15px;
        margin-top: 11px;
    }

    &__btn {
        display: block;
        width: 100%;
        border: none;
        @extend %rubik-500;
        background-color: $bg-btn;
        color: #fff;
        padding: 20px 0;
        cursor: pointer;
        margin-bottom: 35px;
    }

    &__questions {
        @extend %rubik-400;
        display: flex;
        align-items: center;
        color: $text;
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid #f6f6f6;
    }

    &__lost {
        margin-left: 211px;
        color: $text;
    }

    &__register {
        text-align: center;
    }

    &__link {
        color: $text;
        margin-bottom: 23px;
    }

    &__create-btn {
        display: block;
        width: 100%;
        border: 1px solid $text;
        @extend %rubik-500;
        background-color: transparent;
        color: $info;
        padding: 20px 0;
        cursor: pointer;
        margin-bottom: 35px;
    }
}

.terams {
    padding: 125px 0 100px;

    &__title {
        @extend %rubik-500;
        font-size: 24px;
        color: $info;
        margin-bottom: 30px;
    }

    &__list {
        list-style-type: decimal-leading-zero;
        padding-left: 25px;
    }

    &__text {
        margin-bottom: 40px;
    }
}


.about {
    padding: 120px 0;

    &__inner {
        display: flex;
        justify-content: center;
    }

    &__img {
        margin-right: 45px;
    }

    &__content {
        max-width: 570px;
        padding: 70px 10px;
    }

    &__subtitle {
        display: flex;
        align-items: center;

        &-num {
            @extend %rubik-700;
            font-size: 140px;
            color: $bg-btn;
            margin-right: 30px;
        }

        p {
            max-width: 70px;
            line-height: 30px;
        }
    }

    &__text {
        width: 100%;
        padding-bottom: 60px;
        border-bottom: 1px solid #e6eaf0;
        margin-bottom: 35px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding-left: 60px;
        position: relative;

        &::before {
            content: '';
            width: 45px;
            height: 40px;
            position: absolute;
            top: 10px;
            left: 0;
        }

        &--project::before {
            background-image: url('../images/icons/about-1.svg');
            background-repeat: no-repeat;
        }

        &--revenue::before {
            background-image: url('../images/icons/about-2.svg');
            background-repeat: no-repeat;
        }

        &--awards::before {
            background-image: url('../images/icons/about-3.svg');
            background-repeat: no-repeat;
        }
    }

    &__num {
        display: block;
        @extend %dmsans-700;
        font-size: 36px;
        color: $info;
    }

    &__discr {
        @extend %dmsans-700;
        font-size: 16px;
        color: #4c4c4c;
    }
}

.statistics {
    background-color: $accent;
    padding: 100px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__item {
        width: 230px;
        position: relative;
        padding-top: 60px;

        &::before {
            content: '';
            width: 68px;
            height: 60px;
            position: absolute;
            top: 0;
            left: 35%;
            z-index: 13;
        }

        &::after {
            content: '';
            position: absolute;
            width: 35px;
            height: 35px;
            background-color: rgb(163, 187, 200);
            border-radius: 50%;
            z-index: 12;
            top: 16%;
            right: 35%;
        }

        &--clients::before {
            background-image: url('../images/icons/statistic-1.svg');
            background-repeat: no-repeat;
        }

        &--delivered::before {
            background-image: url('../images/icons/statistic-2.svg');
            background-repeat: no-repeat;
            top: 5%;
        }

        &--time::before {
            background-image: url('../images/icons/statistic-3.svg');
            background-repeat: no-repeat;
        }

        &--brands::before {
            background-image: url('../images/icons/statistic-4.svg');
            background-repeat: no-repeat;
            left: 39%;
        }
    }

    &__num,
    &__discr {
        display: block;
        @extend %dmsans-700;
        font-size: 36px;
        color: $info;
        margin: 10px 0;
    }

    &__discr {
        font-size: 18px;
        margin: 0;
    }
}


.team {
    padding: 120px 0;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        max-width: 300px;
    }

    &__text {
        margin-bottom: 37px;
    }

    &__links {
        @extend %dmsans-700;
    }

    &__persons {
        display: grid;
        height: 800px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__person {
        max-width: 370px;
        position: relative;
    }

    &__item {
        position: absolute;
        display: flex;
        justify-content: space-between;
        max-width: 320px;
        width: 100%;
        background-color: #fff;
        bottom: 5%;
        padding: 25px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }

    &__name {
        display: block;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 1.8;
        color: $text;
    }

    &__position {
        display: block;
        color: #565872;
        line-height: 1.8;
    }
    &__social{
        display: flex;
        align-items: center;
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6f6f6;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-right: 8px;
        &:last-child{
            margin-right: 0;
        }
    }
    
}














@import 'media';